/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html,
body {
  margin: 0;
  height: 100%;
}

mat-card {
  width: 400px;
}
